body {
  background-color: #9dcaca;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: rgb(248, 57, 32);
  text-shadow: 1px 1px 2px black;
  text-align: center;
}
.timer {
  display: flex;
}
.field {
  color: #fff;
  margin-right: 30px;
  margin-top: 50%;
  left: 0;
  border-top: solid 1px #000;
  background: #393939;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
}
